<%= form_for(@inventory_operation) do |f| %>
  <% if @inventory_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_operation.errors.count, "error") %> prohibited this inventory_operation from being saved:</h2>

      <ul>
      <% @inventory_operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= collection_select(:inventory_operation, :item_id, Item.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    <%= f.label :operation_type %><br />
    <%= select(:inventory_operation, :operation_type, InventoryOperation.operation_types) %>
  </div>

  <div id="from_location_section">
    <div class="field">
     <%= f.label :from_location_id %><br />
     <%= collection_select(:inventory_operation, :from_location_id, Location.all, :id, :name) %>
    </div>
  </div>

  <div id="to_location_section">
    <div class="field">
     <%= f.label :to_location_id %><br />
     <%= collection_select(:inventory_operation, :to_location_id, Location.all, :id, :name) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :IsCompleted %>
    <%= f.check_box :IsCompleted %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Save", :class => "btn-primary"%>
  </div>
<% end %>
