<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @inventory_operation.item_id %>
</p>

<p>
  <b>From location:</b>
  <%= @inventory_operation.from_location_id %>
</p>

<p>
  <b>To location:</b>
  <%= @inventory_operation.to_location_id %>
</p>

<p>
  <b>Amout:</b>
  <%= @inventory_operation.amout %>
</p>


<%= link_to 'Edit', edit_inventory_operation_path(@inventory_operation) %> |
<%= link_to 'Back', inventory_operations_path %>
